<!-- CONTENEDOR PRINCIPAL -->
<div class="container">
  <br>
  <!-- BARRA DE NAVEGACIÓN -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="images/logo22.png" alt="Logo" width="50" height="44" class="d-inline-block align-text-center">
        Catálogo
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/inicio']">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/lista-productos']">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/lista-pedidos']">Pedidos</a>
          </li>
        </ul>

        <ul class="navbar-nav navbar-rigt">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']">Login</a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" href="#">Registro</a>
          </li>-->
        </ul>

        <ul class="navbar-nav navbar-rigt">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              Nombre Usuario
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['/formulario-producto']">Crear Producto</a></li>
              <li><a class="dropdown-item" [routerLink]="['/formulario-pedido']">Crear Pedido</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Mi Perfil</a></li>
              <li><a class="dropdown-item" href="#">Ajustes</a></li>
              <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav><!-- FIN BARRA DE NAVEGACIÓN -->

  <!-- CONTENIDO -->
  <router-outlet></router-outlet>


  <footer>
    <hr>
    Miguel Páez Frontend &copy;
    <hr>
  </footer>

</div><!-- FIN CONTENEDOR PRINCIPAL -->